<h4> Hello this is the play component</h4>

<div class="card-holder">
  {{player-card player=player1 name=name}}
  {{player-card player=player2 name=name}}
</div>
<div class="winner">
  Winner of the Last game is : {{winner}}
</div>

<div class="play-again">
  <button {{action 'playAgain' preventDefault=false on="click"}}>
    Play Again
  </button>
</div>
{{yield}}